:root {
    --primary: #050218c9;
    --secondary: #9699ffc9;
    --dark: #0908088a;
    --light: rgb(240, 236, 236);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: var(--light);
}

button {
    display: inline-block;
    padding: 1rem;
    margin: 4px;
    background-color: var(--secondary);
    outline: none;
    border: transparent;
    border-radius: 4px;
    cursor: pointer;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    color: var(--light);
}

.container-calculator {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background-color: var(--primary);
    height: 450px;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
}

.display-calculation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    padding: 10px;
    width: 100%;
    height: 80px;
    background-color: var(--light);
    border-radius: 8px;
    margin-bottom: 1rem;
}
.answer-area {
    align-self: flex-end;
    /* width: 50%;
    border-right: 2px solid black;
    padding-right: 8px;
    margin-right: 8px; */
}
.calculation-area {
    width: 50%;
}

.button-input {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.digits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.operators {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.operators button {
    position: relative;
    background-color: rgb(76, 71, 181);
}

.operators button {
    padding: 10px;
    font-size: 16px;
}

/* font weight */
.font-weight--600 {
    font-weight: 600;
}
/* background */
.bg-red {
    background-color: #e44413c9 !important;
}
.bg-orange {
    background-color: #d08b0bd2 !important;
}
.bg-green {
    background-color: #5b8f11d2 !important;
}
