:root {
    --primary: #030546c9;
    --secondary: #9699ffc9;
    --dark: #0908088a;
    --light: rgb(240, 236, 236);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: var(--light);
}

button {
    padding: 1rem;
    margin: 4px;
    background-color: var(--secondary);
    outline: none;
    border: transparent;
    border-radius: 4px;
}

.container-calculator {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background-color: var(--primary);
    height: 300px;
    width: 500px;
    margin: 100px auto;
    padding: 20px;
}

.display-calculation {
    padding: 20px 30px;
    width: 70%;
    background-color: var(--light);
    border-radius: 8px;
    margin-bottom: 1rem;
}
